<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoSimple Home • signed with: </title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <nav id="navbar">
        <h3 id="title">TodoSimple</h3>
        <ul id="nav-list">
            <li>Tasks</li>
            <li>Perfil</li>
        </ul>
    </nav>
    <header>
        <ul id="method-list">
            <li>
                <div id="create-task">
                    <input type="text" name="name-task" id="name-task" placeholder="Name">
                    <input type="text" name="description-task" id="description-task" placeholder="Description">
                    <button type="button">Create</button>
                </div>
            </li>
            <li>
                <div id="delete-task">
                    <input type="text" name="id-task" id="id-task" placeholder="ID">
                    <button type="button">delete</button>
                </div>
            </li>
        </ul>
    </header>
    <main>
        <table>
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                  </tr>
            </thead>
            <tbody id="tasks">
                <tr>
                  <th scope="row">Chris</th>
                  <td>HTML tables</td>
                  <td>22</td>
                </tr>
                <tr>
                  <th scope="row">Dennis</th>
                  <td>Web accessibility</td>
                  <td>45</td>
                </tr>
                <tr>
                  <th scope="row">Sarah</th>
                  <td>JavaScript frameworks</td>
                  <td>29</td>
                </tr>
                <tr>
                  <th scope="row">Karen</th>
                  <td>Web performance</td>
                  <td>36</td>
                </tr>
              </tbody>
        </table>
    </main>

    <script src="js/main.js"></script>
</body>
</html>